@import url('sborshik/vitepress/styles');
@import url('sborshik/vitepress/animate-logo');

:root {
  --vp-c-brand-1: #ff745b;
  --vp-c-brand-2: #fb811f;
  --vp-c-brand-3: #fb581f;
  --vp-c-brand-soft: #fb581f33;

  --custom-brand-1: #ff4a00;
  --custom-brand-2: #0066f6;
  --custom-brand-3: #0066f699;
}

html.dark {
  --vp-c-brand-1: #ffae77;
  --vp-c-brand-2: #ff8a4f;
  --vp-c-brand-3: #fb681f;
  --custom-brand-1: #ff542f;
  --custom-brand-2: #3c8dff;
}
